.body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-image: url('/img/header.png');
    background-size: cover;
    background-position: right; 
    background-repeat: no-repeat;
    height: 100vh; /* 100% de la altura del viewport */
    width: 100%;   /* 100% del ancho */
}